In [1]:
def hello():
    print('ðŸ‘» â˜  â˜  ðŸ‘»')
    print ("hello world")
    print('ðŸ¤ž ðŸ¤ž ðŸ¤ž ðŸ¤ž')

In [3]:
hello()

ðŸ‘» â˜  â˜  ðŸ‘»
hello world
ðŸ¤ž ðŸ¤ž ðŸ¤ž ðŸ¤ž

In [4]:
# rule 101 : never take input inside a function
def multiply():
    a = int(input('enter a number'))
    b = int(input('enter another number: '))
    return a * b

In [5]:
multiply()

20

In [9]:
from random import choice
from string import ascii_lowercase
def random_name_genrator():
    name = ""
    for i in range(4):
        name += choice(ascii_lowercase)
        name += choice("aeiou")
        name += choice(ascii_lowercase)
        name += choice(ascii_lowercase)
        name += choice("aeiou")
        return name

In [10]:
random_name_genrator()

'dioyo'

In [12]:
def si(p, r, t):
    return p * r * t / 100

In [13]:
si(100, 5, 4)

20.0

In [14]:
def random_name_genrator(length):
    name = ""
    for i in range (length):
        name+= choice(ascii_lowercase)
    return name

In [15]:
random_name_genrator(5)

'twuex'

In [16]:
def generate_grade(marks):
    if marks >= 90:
        return 'A'
    elif marks >= 80:
        return 'B'
    elif marks >= 70:
        return 'C'
    elif marks >= 60:
        return 'D'
    else:
        return 'F'

In [17]:
generate_grade(65)

'D'

In [18]:
# required argument 
def summer(a, b, c, d):
    return a+b+c+d

In [19]:
summer(1,2,3,5)

11

In [20]:
#named arguments 
summer(a=10, b=1, c=2, d=3)

16

In [21]:
# rule 102: default argument should always be at the end
#default argument
def summer(a, b=0, c=0, d=0):
    return a+b+c+d

In [23]:
print(summer(10))
print(summer(10,20))
print(summer(10,20,30))
print(summer(10,20,30,40))
print(summer(10, c=20, d=30))

10
30
60
100
60

In [24]:
# variable length argument 
def mean(*numbers):
    total = sum(numbers)
    size = len(numbers)
    return total/size

In [25]:
print(mean(1,2,2,2,3,3,3,5,6))
print(mean(1,22,23,24,5))
print(mean(25,55,66,58))

3.0
15.0
51.0

In [26]:
def agg(*numbers, operation='count'):
    if operation == 'count':
        return len(numbers)
    elif operation == 'sum':
        return sum(numbers)
    elif operation == 'mean':
        return sum(numbers)/len(numbers)
    elif operation == 'max':
        return max(numbers)
    elif operation == 'min':
        return min(numbers)
    else:
        return'invalid operation'

In [27]:
agg(1,2,3,5,6)

5

In [28]:
#keyword arguments
def display(**kwargs):
    print(kwargs)

In [29]:
display(name='shivam', age=20, city='lucknow', state= 'uttarpradesh')

{'name': 'shivam', 'age': 20, 'city': 'lucknow', 'state': 'uttarpradesh'}