In [4]:
'Devansh'

'Devansh'

In [6]:
969*847

820743

In [7]:
a = 20
b = 5

In [8]:
name = "devansh"

In [1]:
age = 20
is_prime = False
pi = 3.14
data = None

In [2]:
name = 'shivam'
movies = ['leo','javan', 'tiger']
car = {
    'brand': 'Tata',
    'model': 'tiago',
    'year': '2021',
    'is_electric': False,
}

In [3]:
10+20

30

In [4]:
60-20

40

In [5]:
50*50

2500

In [6]:
50/5

10.0

In [7]:
40%20

0

In [8]:
x = 5

In [10]:
y += 60

In [11]:
y -= 50

In [12]:
x *= 20

In [13]:
x /= 32

In [14]:
x //= 55

In [15]:
x **= 66

In [16]:
x != 5

True

In [17]:
x < 6

True

In [19]:
'ðŸ˜' != 'ðŸ˜'

False

In [22]:
name = 'Shivam'
name2 = 'Devansh'

In [23]:
len(name) = len(name2) and name == 'shivam'

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (835172728.py, line 1)

In [24]:
10 > 5 and 5 > 2

True

In [25]:
10 > 5 or 5 > 15

True

In [27]:
12 * 4 > 48 or 5*9 > 45 and 10*2 < 20

False

In [28]:
movies

['leo', 'javan', 'tiger']

In [29]:
'pk' in movies

False

In [30]:
'leo' in movies

True

In [31]:
x =[2,3,4,5,6,7]
5 in x

True

In [32]:
10 in x

False

In [33]:
x = [1,2,3]
y = x
z = [1,2,3]
print(x,y,z)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [34]:
print (x is y)
print (x is z)
print (z is y)

True
False
False