# data structures in python 
- list
    - indexed,ordered,**mutable**,allows duplicate members,`[ ]`

- tuple
    - indexed,ordered,**immutable**,allows duplicate members,`( )`

- set
    - unindexed,**unordered**,mutable,unique values only,{ }

- dict 
    - ordered,mutable ,unique keys only, allows duplicate values,{ key: values}

List
  - creating
  - indexing and slicing
  - methods 
  - traversal

In [1]:
x = []
a = [1, 2, 3, 4]
names = ['alex','arti','anupam']
mixed = [1, 'alex', 2, 'arti']
nested = [1, [2, 3], 4]

In [2]:
# creating a duplicate list
a = [1,2,3]
b = [a,a,a]
print(b)
#another way to create a duplicate list without nesting
c = a * 5
print (c)
#another one \
d = [1] * 10
print(d)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[0])
print(numbers[-1])
print(numbers[:5])
print(numbers[-5:])
print(numbers[1::2])
print(numbers[::2])
print(numbers[::-1])
print(numbers[6::-1])

1
10
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]

# methods in list - 11
- adding elements 
   - append
   - extend
   - insert
- removing elements
   - pop
   - remove 
   - clear
- utility methods
   - index 
   - count
   - sort
   - reverse
   - copy

In [16]:
x.append('apple')
print(x)

['apple', 12, 'banana', 'banana', 'banana', 'banana', 12, 12, 'apple', 'apple']

In [14]:
x.append(12)
print(x)

['apple', 12, 'banana', 'banana', 'banana', 'banana', 12, 12]

In [12]:
x.append('banana')
print(x)

['apple', 12, 'banana', 'banana', 'banana', 'banana']

In [17]:
books = []
for i in range(5):
    books.append(input('enter a book: '))
print(books)

['warbreaker', 'legion', 'the sunlit man', 'stormlight archive', 'trees of emerald sea']

In [18]:
more_books= ['harry potter', 'lord of the rings', 'the hobbit']

In [19]:
books.extend(more_books)
books

['warbreaker',
 'legion',
 'the sunlit man',
 'stormlight archive',
 'trees of emerald sea',
 'harry potter',
 'lord of the rings',
 'the hobbit']

In [20]:
books[-3] = "harry potter and the sorcerer's stone"
books

['warbreaker',
 'legion',
 'the sunlit man',
 'stormlight archive',
 'trees of emerald sea',
 "harry potter and the sorcerer's stone",
 'lord of the rings',
 'the hobbit']

In [21]:
books.insert(-2, 'harry potter and the chamber of secrets')
books

['warbreaker',
 'legion',
 'the sunlit man',
 'stormlight archive',
 'trees of emerald sea',
 "harry potter and the sorcerer's stone",
 'harry potter and the chamber of secrets',
 'lord of the rings',
 'the hobbit']

In [22]:
if 'warbreaker' in books:
    books.remove('warbreaker')

In [23]:
books.pop()

'the hobbit'

In [24]:
books.pop(3)

'trees of emerald sea'