In [1]:
a = 'apple' # single quotes
b = "banana" #double quotes

c = '''this is 
an example of 
a multiline string''' #triple quotes

d = """another example
of a multiline string""" #triple quotes

print (type(a), type(b), type(c), type(d))
print(a)
print(b)
print(c)
print(d)

<class 'str'> <class 'str'> <class 'str'> <class 'str'>
apple
banana
this is
an example of
a multiline string
another example
of a multiline string

In [2]:
msg = 'the hippo was 5\' tall'
print (msg)
msg = "the hippo was 5\' tall"
print(msg)

the hippo was 5' tall
the hippo was 5' tall

In [4]:
name = 'alexander' #iterable
print(len(name))
print(name[0])
print(name[1])
print(name[2])
print(name[5])
print(name[-1])
print(name[-4])

9
a
l
e
n
r
n

In [5]:
print(name[0], name[1], name[2], name[3], sep='')

alex

In [7]:
name[0:5] #get the value at 0,1,2,3,4 (5 is noty included)

'alexa'

slicing syntax
 str[ start :stop+1]
 str[start : stop+1 : step]
 str[: stop+1]

In [12]:
n2 = 'leonardo da vinci'
print(n2[:8])
print(n2[-5:])
print(n2[-8:])
print(n2[-8:-6])
print(n2[9:11])
print(n2[9:-6])

leonardo
vinci
da vinci
da
da
da

In [20]:
n3 = 'vijay deenanath chauhan'
print(n3[:5])
print(n3[-8:])
print(n3[-18:])
print(n3[9:-6])
n3[::]
n3[::2]
n3[1::2]

vijay
 chauhan
 deenanath chauhan
nanath c

'ia ennt hua'

In [21]:
n2[1:10:3]

'eao'

In [22]:
n2[::-1]

'icniv ad odranoel'

In [26]:
quote = '''this is a quote from brandon sanderson, 
"the purpose of a storyteller is not to tell you how to think,
but to give you questions to think upon."'''
print(quote)

print('first 50 letters')
print(quote[:50])

print('last50 letters')
print(quote[-50:])

print ('first 500 letters')

this is a quote from brandon sanderson,
"the purpose of a storyteller is not to tell you how to think,
but to give you questions to think upon."
first 50 letters
this is a quote from brandon sanderson,
"the purp
last50 letters
o think,
but to give you questions to think upon."
first 500 letters

In [27]:
print(ord('A'), ord('a'), ord('üíï'))
print(chr(65), chr(97), chr(35), chr(128525))

65 97 128149
A a # üòç